body.modality-active {overflow: hidden;}
body.modality-active .modality {overflow-y: auto;}

.modality {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .85);
	transition: all .3s ease;
	z-index: 50;

	opacity: 0;
	transform: scale(1.1);

	&-open {
		opacity: 1;
		transform: scale(1);
	}

	&-dialog {
		position: relative;
		top: 0;
		width: 100%;
		max-width: rem(350px);
		background-color: #fff;
		transition: all .5s ease-in;

		@include media-breakpoint-down(xs) {
			max-width: 100%;
			height: 100%;
			align-self: flex-start;
		}
	}

	&-header {
		text-align: center;
		padding: rem(10px) rem(40px);
		border-bottom: 1px solid transparentize($color-accent, .75);
	}

	&-title {
		font-size: rem(18px);
		line-height: 1.15;
		text-transform: uppercase;
		margin: 0;
	}

	&-close {
		position: absolute;
		top: rem(10px);
		right: rem(10px);
		width: rem(20px);
		height: rem(20px);
		font-size: rem(20px);
		line-height: 1;
		color: $color-accent;
		opacity: .75;
		padding: 0;
		background: transparent;
		border: none;
		outline: none;
		transition: all .15s ease;
		cursor: pointer;

		&:hover {
			color: $color-accent;
			opacity: 1;
		}
	}

	&-content {
		padding: rem($gutter) rem($gutter);
	}
}
