  <div class="start">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <img class="start-image" src="assets/img/preview.png" alt="alt">
          <h1 class="start-title">HTML Starter 2.0</h1>
          <div class="start-content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, repellendus nostrum. Pariatur aspernatur sit id fugit, enim sed, eum quisquam, soluta quam iste illum rerum dolor maxime! Vero, inventore quaerat?</p>
          </div>
        </div>
      </div>
    </div>
  </div>