@include font-face('FontName', '../fonts/path-to-font.woff2', 400);

::placeholder {
  color: $secondary;
}

::selection {
  color: $white;
  background-color: $accent;
}

html {
  font-size: 100%;
}

body {
  position: relative;
  min-width: $body-min-width;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
