/*=====  #2 FONTS  =====*/

@include font-face('Roboto', '../fonts/RobotoBold/RobotoBold', 700);
@include font-face('Roboto', '../fonts/RobotoMedium/RobotoMedium', 500);
@include font-face('Roboto', '../fonts/RobotoRegular/RobotoRegular', 400);
@include font-face('Roboto', '../fonts/RobotoLight/RobotoLight', 300);


/*=====  #3 BASE  =====*/

::placeholder {
	color: $secondary;
}

::selection {
	background-color: $primary;
	color: $white;
}

html {
	font-size: 100%;
}

body {
	position: relative;
	min-width: $body-min-width;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-head;
}
