$font-family-base: Arial, sans-serif;
$font-family-head: inherit;

$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.5;
$small-font-size: 80%;

$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #007bff;
$secondary: $gray-600;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: $gray-100;
$dark: $gray-900;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$body-bg: $white;
$body-color: $dark;
$body-min-width: 380px;

$link-color: $primary;
$link-decoration: underline;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: null;

$headings-font-family: $font-family-head;
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-color: null;
$headings-margin-bottom: ($spacer / 2);

$paragraph-margin-bottom: 1rem;

$transition-base: all .2s ease-in-out;

$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
);

$gutter: $grid-gutter-width;


@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
    font-display: swap;
    src: url($file-path) format('woff2');
	}
}

@function rem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}
