<!DOCTYPE html>
<html>
<head>
  <include src="includes/meta.html">{"title": "Home"}</include>
</head>
<body>

  <include src="includes/header.html"></include>

  <main>
    <div class="container">
      <div class="row align-items-center gy-3">
        <div class="col-12 col-lg-4">
          <img src="assets/img/preview.png" alt>
        </div>
        <div class="col-12 col-lg-8">
          <h1>HTML Starter 3.0</h1>
          <p>Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Рукопись напоивший текстов журчит живет раз жаренные маленький диких, жизни всемогущая не образ обеспечивает пор эта проектах большого путь использовало?</p>
        </div>
      </div>
    </div>
  </main>

  <include src="includes/footer.html"></include>

</body>
</html>
