<!DOCTYPE html>
<html lang="ru">
<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>HTML Starter 2.1</title>
	<meta name="description" content="Start HTML Template">

	<meta name="theme-color" content="#fff">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" href="assets/img/favicon.png">
	<link rel="stylesheet" href="assets/css/main.min.css">

</head>
<body>

  <!--#include file="includes/_start.html" -->

	<script src="assets/js/main.min.js"></script>

</body>
</html>
